<h1><%= @current_user.name %>さんへのコメント一覧</h1>
　
  <!-- ユーザーに対応したコメントを表示するための設定 -->
  <% @comments.each do |comment| %>
    <% if @current_user.id == comment.original_user_id %>
      <div>
      あなたが詠んだ句「<%=link_to "#{comment.original_content1} #{comment.original_content2} #{comment.original_content3}","/posts/#{comment.comment_post_id}" %>」
      へ <%= link_to("#{comment.comment_user_name}","/users/#{comment.user_id}") %>さんから
      「<%= link_to("#{comment.comment}","/posts/#{comment.comment_post_id}") %>」というコメントが投稿されました。
      投稿日時：<%= comment.created_at %>
　    </div>
    <% end %>
  <% end %>