<h1 class>新規ユーザー登録</h1>

<% @user.errors.full_messages.each do |message| %>
<div class="form-error">
<%= message %>
</div>
<% end %>

<%= form_tag("/users/create") do %>
<p><ruby>詠<rt>よ</rt>み<rt></rt>人<rt>びと</rt>名<rt>めい</rt>（ユーザー名）</ruby></p>
<input name="name" placeholder="名前を決めてください" value="<%=@user.name %>">
<p>メールアドレス</p>
<input name="email" placeholder="メールアドレスを記入する" value="<%=@user.email %>">
<p>パスワード</p>
<input name="password" placeholder="パスワードを決める" type="password" value="<%=@user.password %>"><br><br>
<input type="submit" value="新規登録">
<% end %>
