<h1>詠み人詳細</h1>
<img src="<%="/user_images/#{@user.image_name}"%>">
<h2><%=@user.name %></h2>
<p><%=@user.email %></p>
<p>投稿した句の数：<%= @works_count %>句</p>


<% if @user.id == @current_user.id %>
<li><%=link_to("ユーザー情報の編集","/users/#{@user.id}/edit") %></li>
<% end %>

  <li><%=link_to("投稿","/users/#{@user.id}")%></li>
  <!-- <li><%=link_to("お気に入りの句","/users/#{@user.id}/likes")%></li> -->

  <div>
    <% @user.posts.each do |post| %>
      <img src="<%= "/user_images/#{post.user.image_name}" %>">　<!-- 本人写真　-->
      <%= link_to(post.user.name, "/users/#{post.user.id}") %> <!-- ユーザー名前　-->
      <%= link_to(post.content1, "/posts/#{post.id}")%> <!-- 初句　-->
      <%= link_to(post.content2, "/posts/#{post.id}")%>　<!-- 二句　-->
      <%= link_to(post.content3, "/posts/#{post.id}")%>　<!--　結句　-->
      <%= link_to(post.message, "/posts/#{post.id}")%>　<!-- メッセージ　-->
    <% end %> 
  </div>

  　


