<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">GO-SHICHI-GO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">

          <% if @current_user %>
            <a class="nav-link" href="/posts/index">Home
          <% else %>
            <a class="nav-link" href="/">TOP画面
          <% end %>

              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="user_show_info">
      <h1 class="white"><ruby>詠<rt>よ</rt>み<rt></rt>人<rt>びと</rt>詳細<rt>しょうさい</rt></ruby></h1>

      <div class="row">
      <div class="col-md-8 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="<%="/user_images/#{@user.image_name}"%>" alt="">
          <div class="card-body">
            <h4><ruby>詠<rt>よ</rt>み<rt></rt>人<rt>びと</rt>名<rt>めい</rt></h4>
            <h5 class="card-title"><%=@user.name %></ruby></h5>
            <p class="card-text">投稿した句の数：<%= @works_count %>句</p>
            <p class="card-text">現在のファン数：<%=@follower_count %>人</p>

          <!-- 登録したメールアドレスは本人にしか表示されない -->
            <% if @user.id == @current_user.id %>
              <p>登録メールアドレス：<%=@user.email %></p>
            <% end %>

          </div>
          <div class="card-footer">
            <% if @user.id == @current_user.id %>
              <a><%=link_to("ユーザー情報の編集","/users/#{@user.id}/edit")%></a>
            <% end %>
          </div>
        </div>
      </div>

      <!-- 自分以外のユーザーをお気に入りにできる機能（自分のユーザーページには表示されない）　-->
　      <% if @user.id != @current_user.id %>
        <% if Follow.find_by(following_user_id: @current_user.id, followed_user_id: @user.id) %>
      <!-- いいね！を押している -->
      <p class="far fa-thumbs-up faa-tada animated"></p>
        <%=link_to("#{@user.name}さんをお気に入り詠み人に追加しています","/follows/#{@user.id}/destroy", {method: "post"}) %>　　
        <% else %>
      <!-- いいね！を押していない -->
      <p class="far fa-thumbs-up"></p>
        <%=link_to("#{@user.name}さんをお気に入り詠み人に追加する","/follows/#{@user.id}/create", {method: "post"}) %>
        <% end %>
        <% end %>
    </div>
  </header>

    <div class="user_works">
    <% @user.posts.each do |post| %>
    <div class="row">
        <div class="col">
            <img src="<%= "/user_images/#{post.user.image_name}" %>"><br>
            <!-- 本人写真　-->
            <%= link_to(post.user.name, "/users/#{post.user.id}") %><br><br>
            <!-- ユーザー名前　-->
            <%= post.content1 %>
            <!-- 初句　-->
            <%= post.content2 %>　
            <!-- 二句　-->
            <%= post.content3 %>　
            <!--　結句　-->
            <p>詠み人からのメッセージ：<%= post.message %></p>　
            <!-- メッセージ　-->
            <p><%=link_to("句の詳細","/posts/#{post.id}") %></p> <!-- 句の詳細 -->
        </div>
    <% end %>
</div>



</div>



  </div>

  <!-- Footer -->
  <footer class="py-5">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Kanda Keisuke 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
</div>


　