<h1>連句一覧</h1>

<% @addposts.each do |addpost| %>
  <div>
  <%= addpost.content1 %>
  <%= addpost.content2 %>
  <%= addpost.content3 %>
  <%= addpost.content4 %>
  <%= addpost.content5 %>
  <p>上の句作者：<%= addpost.original_user %>さん</p>
  <p>下の句作者：<%= addpost.add_user %>さん</p>

  <!-- メッセージがあれば出力される -->
  <% if addpost.addmessage != nil %>
  <p><%= addpost.add_user %>さんからのメッセージ</p>
  <%= addpost.addmessage %></p>
  <% end %>

  <!-- 作成日時 -->
  <%= addpost.created_at %>
  </div>
<% end %>