<h1>投稿された句</h1>
<% @posts.each do |post| %>
<div class="main posts-index">
  
  <div>
    <img src="<%= "/user_images/#{post.user.image_name}" %>">
  </div>
  <div>
    <%=link_to(post.user.name, "/users/#{post.user.id}") %>
  </div>

<%= post.content1 %>
<%= post.content2 %>
<%= post.content3 %>
<p>詠み人からのメッセージ：<%= post.message %></p>
<%= post.created_at %>
<%=link_to("句の詳細","/posts/#{post.id}") %>
</div>
<% end %>
