<p>投稿詳細画面</p>
<img src="<%= "/user_images/#{@user.image_name}" %>">
<%= link_to(@user.name,"/users/#{@user.id}") %>

<%= @post.content1 %>
<%= @post.content2 %>
<%= @post.content3 %>
<%= @post.message %>
<%= @post.created_at %>

<div class="posts-show-item">
<% if Like.find_by(user_id:@current_user.id, post_id:@post.id)%>
  <!--「好いですね」を押している -->

  <%=link_to("/likes/#{@post.id}/destroy",{method: "post"}) do %>
  <span class="fas fa-dove faa-bounce animated like-btn-unlike"></span>
  <% end %>

<% else %>

　<!--「好いですね」を押していない -->
  <%=link_to("/likes/#{@post.id}/create",{method: "post"}) do %>
  <span class="fas fa-dove like-btn"></span>

  <% end %>

<% end %>
</div>

<%=@likes_count %>

<% if @post.user_id == @current_user.id %>
<%=link_to("編集","/posts/#{@post.id}/edit") %>
<%=link_to("削除","/posts/#{@post.id}/destroy", {method: "post"}) %>
<% end %>

<!-- コメント機能 -->

<!-- コメント入力　-->
<!-- 投稿者本人以外が投稿可能 -->
<% if @post.user_id != @current_user.id %>

<%=form_tag("/comments/create") do %>
<p>この作品へコメントを投稿する</p>
<textarea name="comment" maxlength="100" ></textarea>  
<input type="submit" value="投稿">
<% end %>

<!-- コメント出力 -->
<p>作品へ投稿されたコメント一覧</p>
<% @comments.each do |comment| %>
<div>
<%= comment.comment %>
<%= comment.created_at %>
<%= link_to("削除","/comments/#{comment.id}/destroy", {method: "post"}) %>
</div>
<% end %>
<% end %>

