<!DOCTYPE html>
<div class="allview">
<html lang="ja">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GO-SHICHI-GO</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/business-frontpage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">GO-SHICHI-GO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">

            <% if @current_user %>
              <a class="nav-link" href="/posts/index">Home
            <% else %>
              <a class="nav-link" href="/">TOP画面
            <% end %>

              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- 上段（作品詳細欄） -->
  <header class="bg-primary py-5 mb-5">
    <div class="user_index">
      
      <h1><ruby>投稿詳細画面<rt>とうこうしょうさいがめん</rt></ruby></h1>
      <p>【詠み人】<%= link_to(@user.name,"/users/#{@user.id}") %></p>
　　　<img class="post_photo" src="<%= "/user_images/#{@user.image_name}" %>">

     <h4>【作品】</h4>
     <h2><%= @post.content1 %></h2>
         <h2><%= @post.content2 %></h2>
              <h2><%= @post.content3 %></h2>

　　　<h4>【詠み人からのメッセージ】</h4>
　　　<%= @post.message %>

     <h4>【投稿日時】</h4>
     <%= @post.created_at %>

<div class="posts-show-item">
<% if Like.find_by(user_id:@current_user.id, post_id:@post.id)%>
  <!--「好いですね」を押している -->

  <%=link_to("/likes/#{@post.id}/destroy",{method: "post"}) do %>
  <span class="fas fa-dove faa-bounce animated like-btn-unlike"></span>
  <% end %>

<% else %>

　<!--「好いですね」を押していない -->
  <%=link_to("/likes/#{@post.id}/create",{method: "post"}) do %>
  <span class="fas fa-dove like-btn"></span>

  <% end %>

<% end %>
</div>

<%=@likes_count %>

<% if @post.user_id == @current_user.id %>
<%=link_to("編集","/posts/#{@post.id}/edit") %>
<%=link_to("削除","/posts/#{@post.id}/destroy", {method: "post"}) %>
<% end %>

<!-- 連句機能 -->
<%= form_tag("/posts/addpost") do %>
  　<%= hidden_field_tag :content1, @post.content1 %>
    <%= hidden_field_tag :content2, @post.content2 %>
    <%= hidden_field_tag :content3, @post.content3 %>
    <%= hidden_field_tag :user_name, @user.name %>
    <%= hidden_field_tag :user_id, @user.id %>
    <br>
    <input class="circle" type="submit" value="この句に連句する">
  <% end %>

<!-- コメント機能 -->

<!-- コメント入力　-->
<!-- 投稿者ではないユーザーだけが投稿可能 -->
<% if @post.user_id != @current_user.id %>

  <%=form_tag("/comments/create") do %>
  
  <p>この作品へコメントを投稿する</p>
  <textarea name="comment" maxlength="100" ></textarea>
  <!-- 元の句の情報を送信 -->
    <%= hidden_field_tag :original_content1, @post.content1 %>
    <%= hidden_field_tag :original_content2, @post.content2 %>
    <%= hidden_field_tag :original_content3, @post.content3 %>
    <%= hidden_field_tag :original_user_id, @user.id %>
  <!-- コメントを投稿したユーザーの情報を送信-->
    <%= hidden_field_tag :post_id, @post.id %>
    <%= hidden_field_tag :comment_user_name, @current_user.name %>
  <input type="submit" value="投稿する">
  <% end %>
<% end %>
<!-- コメント出力 -->
 <% @comments.each do |comment| %>
  <!-- コメントを投稿したユーザーだけがそのコメントを削除できる機能 -->
      <% if session[:user_id] == comment.user_id %>
  　    <%= form_tag("/comments/#{comment.id}/destroy") do %>
  　　    <%= hidden_field_tag :post_id, @post.id %>
  　    <input type="submit" value="削除する">
      <% end %>

    
  <% end %>
  </div>
<% end %>


    </div>
  </header>

  </div>
  <!-- /.container -->


  <!-- 下段（コメント欄） -->
  <header class="bg-primary py-5 mb-5">
    <div class="user_index">
  
  <div class="index_comment_logo">
    <h3>この作品へ投稿されたコメント</h3>
  
  <% @comments.each do |comment| %>
  <!-- それぞれの句に対応したコメントを表示するための設定 -->
    <% if comment.comment_post_id == @post.id%>
  <div>
  <% comment.comment_post_id %>
  <!-- 投稿されたコメント -->
  <%= comment.comment %>
  <!-- 氏名 -->
  <%= link_to("#{comment.comment_user_name}","/users/#{comment.user_id}") %>
  <!-- 日時 -->
  <%= comment.created_at %>

  <!-- コメントを投稿したユーザーだけがそのコメントを削除できる機能 -->
      <% if session[:user_id] == comment.user_id %>
  　    <%= form_tag("/comments/#{comment.id}/destroy") do %>
  　　    <%= hidden_field_tag :post_id, @post.id %>
  　    <input type="submit" value="削除する">
      <% end %>

    <% end %>
  <% end %>
  </div>
  </div>

<% end %>

  </div>
  </header>


  <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">
            　
            </p>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

  <!-- Footer -->
  <footer class="py-5">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Kanda Keisuke 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
</div>