<!DOCTYPE html>
<html>
  <head>
    <title>Goshichigo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%# このスペースにどのページでも表示したい共通のレイアウトを書く %>
      <h1>☆五七五歌会☆</h1>
      <%=link_to("マイページ","") %>
      <%=link_to("一句詠む（新規投稿）","/posts/new") %>
      <%=link_to("投稿一覧","/posts/index") %>
      <%=link_to("お気に入り詠み人","") %>
      <%=link_to("詠み人一覧","/users/index") %>
      <%=link_to("お気に入りの句","") %>
      <%=link_to("あなたへのコメント","") %>
      <%=link_to("連句","") %>
      <%=link_to("使い方ガイド","/about") %>
    </header>

　  <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div> 
    <% end %>

    <%= yield %>
  </body>
</html>
