<!DOCTYPE html>
<html>
  <head>
    <title>Goshichigo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%# このスペースにどのページでも表示したい共通のレイアウトを書く %>
      <h1>☆五七五歌会☆</h1>
        <div>
          <% if @current_user %>
            <%=link_to("五七五歌会","/posts/index") %>
          <% else %>
            <%=link_to("五七五歌会","/") %>
          <% end %>
        </div>
      <%#ユーザーログイン時の表示項目 %>
      <% if @current_user %>

        <%=link_to("ユーザー名：#{@current_user.name}様","/users/#{@current_user.id}") %>
        
      　<%=link_to("マイページ","") %>
      　<%=link_to("一句詠む（新規投稿）","/posts/new") %>
      　<%=link_to("投稿一覧","/posts/index") %>
      　<%=link_to("お気に入り詠み人","") %>
      　<%=link_to("詠み人一覧","/users/index") %>
      　<%=link_to("お気に入りの句","") %>
      　<%=link_to("あなたへのコメント","") %>
      　<%=link_to("連句","") %>
      　<%=link_to("ログアウト","/logout",{method: :post}) %>

　　　 <% else %>
      <%#ユーザーログアウト時の表示項目 %>
        <%=link_to("使い方ガイド","/about") %>
        <%=link_to("新規登録","/signup") %>
        <%=link_to("ログイン","/login") %>
      <% end %>  

    </header>

　  <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div> 
    <% end %>

    <%= yield %>
  </body>
</html>
