<!DOCTYPE html>
<html>
  <head>
    <title>Goshichigo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
  </head>

  <body>
    <header>
      <%# このスペースにどのページでも表示したい共通のレイアウトを書く %>
      <div class="top">
      <h1><p class="far fa-star faa-tada animated"></p>GO-SHICHI-GO<p class="far fa-star faa-tada animated"></p></h1>
        <div>
          <% if @current_user %>
            <%=link_to("HOME","/posts/index") %><br>
          <% else %>
            <%=link_to("GO-SHICHI-GO : TOP画面","/") %>
          <% end %>
        </div>
      </div>
      <%#ユーザーログイン時の表示項目 %>
      <div class="vertical">
      <% if @current_user %>

        <p class="far fa-user faa-tada animated"></p>
        <%=link_to("#{@current_user.name}様のマイページ","/users/#{@current_user.id}") %><br>
        
        <p class="fas fa-edit faa-tada animated"></p>
      　<%=link_to("一句詠む（新規投稿）","/posts/new") %><br>

        <p class="far fa-star faa-tada animated"></p>
      　<%=link_to("投稿一覧","/posts/index") %><br>

        <p class="fas fa-users faa-tada animated"></p>
      　<%=link_to("詠み人一覧","/users/index") %><br>

        <p class="fas fa-user-friends faa-tada animated"></p>
      　<%=link_to("お気に入り詠み人","/users/#{@current_user.id}/follows") %><br>

        <p class="far fa-heart faa-tada animated"></p>
      　<%=link_to("お気に入りの句","/users/#{@current_user.id}/likes") %><br>

        <p class="far fa-comment-dots faa-tada animated"></p>
      　<%=link_to("あなたへのコメント","/users/#{@current_user.id}/comments") %><br>

        <p class="far fa-comments faa-tada animated"></p>
      　<%=link_to("連句","/addposts/index") %><br>

        <p class="fas fa-sign-out-alt faa-tada animated"></p>
      　<%=link_to("ログアウト","/logout",{method: :post}) %>

　　　 <% else %>
      </div>
      <%#ユーザーログアウト時の表示項目 %>
      <div class="vertical">
        <%=link_to("使い方ガイド","/about") %><br>
        <%=link_to("新規登録","/signup") %><br>
        <%=link_to("ログイン","/login") %><br>
      </div>
      <% end %>  

    </header>

　  <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div> 
    <% end %>

    <%= yield %>
  </body>
</html>
